<script src="https://www.google.com/recaptcha/api.js"></script>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="elconte">
<h2>Página de inicio de sesión.</h2>
Inicia sesión introduciendo nombre de usuario y contraseña.
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit">Iniciar sesión</button>
 <!-- <button class="g-recaptcha" 
  data-sitekey="6Lc0z64kAAAAAAjDORh1Hdv_HwX14TVAxLK-wtiO" 
  data-callback='onSubmit' 
  data-action='submit'>Iniciar sesión</button>-->
</form>
</div>
{% endblock %}
<!-- <script>
  function onSubmit(token) {
    document.getElementById("demo-form").submit();
  }
</script>-->