{% extends 'base.html' %}

{% block content %}
<div class="elconte">
<h1>{{ object.nomCur }}</h1>
<h3>Profesor del curso</h3>
<h4>{{ object.profesorCur }}</h4>
<h3>Capacidad</h3> 
<h4>{{ object.capMaxCur }}</h4>
<h3>Horario</h3> 
<h4>{{ object.horarioIniCur }}-{{ object.horarioFinCur }}</h4>
<h3>Grupo</h3> 
<h4>{{ object.grupoCur }}</h4>
<h3>Descripcion</h3> 
<h5>{{ object.descCur }}</h5>

<ul>
    {% if user.is_staff %}
    <button type="button" onclick="window.location.href='edit/'">Editar</button>
    <button type="button" onclick="window.location.href='delete/'">Borrar</button>
    {% endif %}

</ul>
</div>
{% endblock %}
