{% extends 'base.html' %}

{% block content %}
<div class="elconte">
    <h2>Gimnasios</h2>
    <h4>Estos son los gimnasios que tenemos actualmente abiertos, ¡echa un vistazo a sus equipamientos!</h4>
    <ul>
        {% for gimnasio in gimnasio_list %}
            <li>
                <a href={% url 'gimnasios-detail' gimnasio.pk %}>{{ gimnasio.nomGym }}</a>
            </li>
        {% endfor %}
    </ul>
{% if user.is_staff %}
<form action= {% url 'gimnasio-add' %}>
  <input type="submit" value="Crear Gimnasio">
</form>
{% endif %}
</div>
{% endblock %}


