{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="elconte">
<h2>{{ object.nomGym }}</h2>
<img src="/media/{{ object.fotoGym }}" width="270" height="160" alt="Foto de {{ object.nomGym }} ">
<div class="der">
<h2>Dirección</h2>
<h4>{{ object.direccionGym }}</h4>
<h2>Contacto</h2>
<h4>{{ object.telefonoGym }} {{ object.correoGym }}</h4>
</div>
</div>
<div class="elconte">
<h3>Cursos que imparte el gimnasio</h3>

{% for curso in curso_list %}
{% if curso.gimnasioCur.pk == gimnasio.pk %}
<td><a href={% url 'cursos-detail' curso.pk %}>{{ curso.nomCur }}</a></td>
{% endif %}
{% endfor %}

<h3>Lista de máquinas</h3>

{% for maquina in unidad_list %}
<td>
{% if maquina.gimnasioUn.pk == gimnasio.pk %}
{% if not maquina.persona %}
<li style="color:#10db10"><a href={% url 'unidades-detail' maquina.pk %}>{{ maquina.maquinaUn }}</a></li>

{% else %}
<li style="color:#C70039"><a href={% url 'unidades-detail' maquina.pk %}>{{ maquina.maquinaUn }}</a></li>

{% endif %}

{% endif %}
</td>
{% endfor %}

<ul>
    {% if user.is_staff %}
    <button type="button" onclick="window.location.href='edit/'">Editar</button>
    <button type="button" onclick="window.location.href='delete/'">Borrar</button>
    {% endif %}

</ul>
</div>
{% endblock %}
