{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1>Registro</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" class="g-recaptcha" 
		data-sitekey="6Lc0z64kAAAAAAjDORh1Hdv_HwX14TVAxLK-wtiO" 
		data-callback='onSubmit' 
		data-action='submit'>Registrarse</button>
	</form>
	<p class="text-center">Si ya tienes una cuenta, <a href="/">Inicia sesión</a></p>
</div>

{% endblock %}