{% extends 'base.html' %}

{% block content %}
<div class="elconte">
<h1>{{ object.unidadUn }}</h1>
<p>Del gimnasio: {{ object.gimnasioUn }}</p>
<p>Es del tipo: {{ object.maquinaUn }}</p>

{% if object.persona == null %}

<p>Máquina libre</p> 
<!-- <p><a class="btn btn-primary btn-xl rounded-pill mt-5" href='edit/'>Ocupar</a></p> -->
    <form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{estado}}
	<input type="submit" name="{{estado.prefix}}" value="Submit">
    </form>
{% else %}

{% if user.pk == object.persona.pk %}

<!-- <a class="btn btn-primary btn-xl rounded-pill mt-5" href='edit/'>Desocupar</a> -->
<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{desocupar}}
	<input type="submit" name="{{desocupar.prefix}}" value="Submit">
    </form>
{% else %}

Maquina ocupada por {{ object.persona }} 

{% endif %}

{% endif %}


    {% if user.is_staff %}
 <p><a class="btn btn-primary btn-xl rounded-pill mt-5" href='edit/'>Editar</a>
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href='delete/'>Borrar</a></p>
    {% endif %}

</ul>
</div>
{% endblock %}
