{% extends 'base.html' %}

{% block content %}
<h1>Bienvenid@ a tu perfil {{ object.username }}</h1>
<p>Nombre: {{ object.first_name }}</p>
<p>Apellido: {{ object.last_name }}</p>
<p>Fecha nacimiento: {{ object.fechanacUs }}</p>
<p>Telefono: {{ object.telefonoUs }}</p>
<p>Correo: {{ object.email }}</p>
<p>Sexo: {{ object.sexUs }}</p>
<p>Pago: {% if object.PagoUs is True %} Al corriente de pago {% else %} Moroso {% endif %}</p>
<p>Foto: <img src="/media/{{ object.fotoUs }}" width="300" height="250" alt="Foto del usuario {{ object.username }}"></p>
<p>Tarjeta: <img src="/media/{{ object.tarjetaUs }}" alt="Foto tarjeta de {{ object.username }}"></p>
<p>Actualmente estás apuntado a:
    {% for curso in object.apuntados.all %}
    <td><a href={% url 'cursos-detail' curso.pk %}>{{ curso }}</a> </td>
    {% endfor %}</p>
        {% if user.is_staff or user.pk == object.pk %}
        <a class="btn btn-primary btn-xl rounded-pill mt-5" href='edit/'>Editar</a>
        <a class="btn btn-primary btn-xl rounded-pill mt-5" href='delete/'>Borrar</a>
        {% endif %}
    
    </ul>
    {% endblock %}
