{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
<h2>¡Muy buenas {{ user.username }}!</h2>
  Hace un buen día para hacer ejercicio. Dale caña monstro.
  <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% else %}
<h2>Bienvenido a la aplicación de Pyex.</h2>
<p>Aquí podrás ver el gimnasio de una forma más moderna y accesible para todos.</p>
<h3>Información de contacto</h3>
<p>josemaria.riol.sanchez.alu@iesfernandoaguilar.es</p>
  <p>No has iniciado sesión</p>
  <a href="{% url 'login' %}">Iniciar sesión</a>
  <p class="text-center">¿No tienes una cuenta? <a href="register/">Créala aquí</a>.</p>
{% endif %}


{% endblock%}