<h1>{{ object.headline }}</h1>
<p>{{ object.content }}</p>
<p>Codigo: {{ object.codUs }}</p>
<p>Tarjeta: {{ object.tarjetaUs }}</p>
<p>Nombre: {{ user.first_name }}</p>
<p>Apellido: {{ user.last_name }}</p>
<p>Fecha nacimiento: {{ object.fechanacUs }}</p>
<p>Telefono: {{ object.telefonoUs }}</p>
<p>Correo: {{ user.email }}</p>
<p>Sexo: {{ object.sexUs }}</p>
<p>Foto: {{ object.fotoUs }}</p>
<p>Pago: {{ object.pagoUs }}</p>
<p>Apuntado a:
    {% for curso in object.apuntados.all %}
    <td>{{ curso }} </td>
    {% endfor %}</p>
    <ul>
        <button type="button" onclick="window.location.href='edit/'">Editar</button>
        <button type="button" onclick="window.location.href='delete/'">Borrar</button>
    
    </ul>