{% extends 'base.html' %}

{% block content %}

<h2>{{ object.nomGym }}</h2>
<p>Dirección: {{ object.direccionGym }}</p>
<h3>Contacto</h3>
<p>{{ object.telefonoGym }} {{ object.correoGym }}</p>
<p>Foto del gimnasio</p> 
<p><img src="/media/{{ object.fotoGym }}" width="300" height="250" alt="Foto de {{ object.nomGym }} ">  </p>
<h3>Lista de máquinas</h3>

{% for maquina in unidad_list %}

{% if maquina.gimnasioUn.pk == gimnasio.pk %}

{% if maquina.personaUn == "nadie" %}
<li style="color:#FF0000"><a href={% url 'unidades-detail' maquina.pk %}>{{ maquina.nomUn }}</a></li>

{% else %}
<li style="color:#C70039"><a href={% url 'unidades-detail' maquina.pk %}>{{ maquina.nomUn }}</a></li>

{% endif %}

{% endif %}

{% endfor %}

<ul>
    {% if user.is_staff %}
    <button type="button" onclick="window.location.href='edit/'">Editar</button>
    <button type="button" onclick="window.location.href='delete/'">Borrar</button>
    {% endif %}

</ul>
{% endblock %}
